<div class="container">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Students</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <td>ID</td>
                <td>LastName</td>
                <td>FirstMidName</td>
                <td>EnrollmentDate</td>
                <td>Name</td>
                <td><a class="btn btn-sm btn-outline-success" [routerLink]="[ '/student-create']">Add</a></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{ student.ID }}</td>
                <td>{{ student.LastName }}</td>
                <td>{{ student.FirstMidName }}</td>
                <td>{{ student.EnrollmentDate }}</td>
                <td>{{ student.Name }}</td>
                <td>
                    <a class="btn btn-sm btn-outline-info" [routerLink]="[ '/student-detail', student.ID ]">Details</a>
                    <a class="btn btn-sm btn-outline-warning" [routerLink]="[ '/student-edit', student.ID ]">Edit</a>
                    <a class="btn btn-sm btn-outline-danger" [routerLink]="[ '/student-delete', student.ID ]">Delete</a>
                    <a class="btn btn-sm btn-outline-secondary" [routerLink]="[ '/student-courses-list', student.ID ]">Courses</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>